@charset "utf-8";
/*.mandatory{
    display: inline;
    border-color: blue;
}*/

body{
    font-size: 13px;
    font-family: Verdana, Helvetica, sans-serif;
    background-color:   #fff;
}
.fillFields {
	border-color: red;
}

.errorMessage {
	color: red;
}

.successMessage
{
color: green;
}

a.disabled{
	pointer-events: none;
	cursor: default;
}
.disabled177{
  pointer-events: none;
  cursor: default;
}
.pointerEventNone{
	pointer-events: none;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/pageLoader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}



#main_form form {
    box-sizing: border-box;
    width: 100%;
    padding-right: 2%;
    padding-left: 2%;
    background-color: white;
}


.form-group.required label:after {
  content:" *";
  color:red;
}

form {
    background-color: white;
}

.headings{
    text-align: center;
}
.note-editable{
  height: 200px;
  max-height: 200px;
}

.navbar .navbar-brand {
  padding-top: 0px;
}

.navbar-form.navbar-right{
    background-color:rgba(255, 255, 255, 0);
}

#navbar-div{
  margin-bottom: 10px;
}

.menu-vnn{
  font-size: 12px;
}

.menu-big-vnn{
  font-size: 8px;
}

.vnn {
  font-size: 12px;
}
.vnn-search {
  font-size: 18px;
}

.action-vnn{
  font-size: 11px;
}

.action-big-vnn{
  font-size: 10px;
}


/* vnn.vnn-bell {
  position: relative;
  font-size: 2em;
  cursor: pointer;
}
span.fa-comment {
  position: absolute;
   font-size: 1.4em;
  top: -1px;
  color: red;
  right: -1px;
}
span.num {
  position: absolute;
  top: 1px;
  font-size: 1em;
  color: #fff;
  right: 2px;
} */
/* .search { position: relative; }
.search input { text-indent: 30px;}
.search .glyphicon-search { 
  position: absolute;
  top: 10px;
  left: 7px;
  font-size: 15px;
} */
/*span.select2-selection--multiple[aria-expanded=false] {
    border-color: red !important;   
}*/

/* Table scroll  begin */


/* table{
 height:60%;
 table-layout: fixed;
}
tbody{

  overflow-y: scroll;      
  width: 100%;
  height: 62%;            
  position: absolute;
} */

/* Table scroll  end */
