@charset "UTF-8";

@font-face {
  font-family: "vnnofonts";
  src:url("../fonts/vnnofonts.eot");
  src:url("../fonts/vnnofonts.eot?#iefix") format("embedded-opentype"),
    url("../fonts/vnnofonts.woff") format("woff"),
    url("../fonts/vnnofonts.ttf") format("truetype"),
    url("../fonts/vnnofonts.svg#vnnofonts") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "vnnofonts" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="vnn-"]:before,
[class*=" vnn-"]:before {
  font-family: "vnnofonts" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vnn-document:before {
  content: "\62";
}
.vnn-mv-left:before {
  content: "\63";
}
.vnn-bell:before {
  content: "\64";
}
.vnn-pdf:before {
  content: "\65";
}
.vnn-ppt:before {
  content: "\66";
}
.vnn-word:before {
  content: "\67";
}
.vnn-xl:before {
  content: "\68";
}
.vnn-template:before {
  content: "\69";
}
.vnn-img:before {
  content: "\6a";
}
.vnn-audio:before {
  content: "\6b";
}
.vnn-video:before {
  content: "\6c";
}
.vnn-mv-right:before {
  content: "\6d";
}
.vnn-tag:before {
  content: "\6e";
}
.vnn-edit:before {
  content: "\6f";
}
.vnn-del:before {
  content: "\70";
}
.vnn-account:before {
  content: "\71";
}
.vnn-inr:before {
  content: "\72";
}
.vnn-save:before {
  content: "\73";
}
.vnn-create:before {
  content: "\74";
}
.vnn-signout:before {
  content: "\75";
}
.vnn-search:before {
  content: "\76";
}
.vnn-home:before {
  content: "\61";
}
.vnn-tree:before {
  content: "\77";
}
.vnn-tools:before {
  content: "\78";
}
.vnn-mail:before {
  content: "\79";
}
.vnn-question:before {
  content: "\7a";
}
.vnn-user:before {
  content: "\41";
}
.vnn-phone:before {
  content: "\43";
}
.vnn-correct:before {
  content: "\44";
}
.vnn-program:before {
  content: "\42";
}
.vnn-vimeo:before {
  content: "\45";
}
.vnn-youtube:before {
  content: "\46";
}
.vnn-messageboard:before {
  content: "\47";
}
.vnn-node:before {
  content: "\49";
}
.vnn-users:before {
  content: "\4a";
}
.vnn-company:before {
  content: "\4b";
}
.vnn-menu-down:before {
  content: "\4c";
}
.vnn-hamburger:before {
  content: "\4e";
}
.vnn-menu-up:before {
  content: "\4d";
}
.vnn-plus-circle:before {
  content: "\4f";
}
.vnn-minus-circle:before {
  content: "\50";
}
.vnn-times-circle:before {
  content: "\51";
}
.vnn-bookmark:before {
  content: "\48";
}
.vnn-move-up-down:before {
  content: "\52";
}
.vnn-listview:before {
  content: "\53";
}
.vnn-quiz1:before {
  content: "\55";
}
.vnn-assignment:before {
  content: "\54";
}
.vnn-vc:before {
  content: "\56";
}
.vnn-star:before {
  content: "\57";
}
.vnn-star-half-o:before {
  content: "\58";
}
.vnn-star-o:before {
  content: "\59";
}
.vnn-text:before {
  content: "\5a";
}
.vnn-web:before {
  content: "\30";
}
.vnn-assessment:before {
  content: "\31";
}
.vnn-quiz:before {
  content: "\32";
}
.vnn-mv-down:before {
  content: "\33";
}
.vnn-mv-up:before {
  content: "\34";
}
.vnn-download:before {
  content: "\35";
}
